<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PixelVerse</title>
  <link rel="icon" href="/images/logo-unscreen.gif">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=REM:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="nav-container extra-nav">
      <div class="nav-bar">
        <div class="logo">
          <img src="/images/logo-unscreen.gif" alt="PixelVerse" height="50">
          <a href="/"> <span class="logo-txt"> PixelVerse</span></a>
        </div>

        <div class="nav-menu">
          <span class="nav-item"><a href="/">Home</a></span>
          <span class="nav-item"><a href="/contact">Contact</a></span>
          <span class="nav-item"><a href="/about">About</a></span>
          <div class="nav-item pexel"><a href="#">
            <p class="created-using">Created using</p>
            <h3 class="pexel-api">Pexels API</h3>
          </a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-main">
    <div class="about-container">
        <h1 class="about"> About Me & This Project</h1>
        <p class="about-content">Hello! My name is Kalyan Maharajulu, and I'm thrilled to introduce you to PixelVerse, a wallpaper app powered by the Pexels API. Let me share a bit about myself and the inspiration behind this project.</p>

        <p class="about-content">PixelVerse was created out of a passion for stunning visuals and the desire to make it easier for users to find and download their favorite wallpapers. Whether you're looking for breathtaking landscapes, vibrant cityscapes, or captivating abstract art, PixelVerse has it all.</p>

        <p class="about-content">This project represents a blend of my love for technology and creativity. By leveraging the Pexels API, I aim to provide a seamless experience where users can effortlessly search for and download high-quality wallpapers that resonate with their personal style and preferences.</p>

        <p class="about-content">PixelVerse is not just a tool, but a community where we can celebrate the beauty of visual art. I hope this app becomes your go-to source for the perfect wallpaper, and that it brings a touch of inspiration to your daily life.</p>

        <p class="about-content">Thank you for being a part of PixelVerse! Let's explore the world of wallpapers together.</p>
    </div>
</div>
